
services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    environment:
      - NODE_ENV=development

  frontendDesktop:
    build: ./frontendDesktop
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

